.work-experience-container {
  margin-left: 200px;
  margin-top: 50px;
}

.timeline-section {
  margin-top: 10px;
}

.tech-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-name-container p {
  background-color: black;
  padding: 8px 25px;
  border-radius: 90px;
}

.tech-name-container p:hover {
  background-color: gold;
  cursor: pointer;
  color: black;
  transition-duration: 0.4s;
}

.date-my-project {
  color: black;
  font-weight: 700;
}
#dark{
  .date-my-project{
    color: white;
  }
}

@media (max-width: 1000px) {
  .work-experience-container{
    margin-left: 0px;
  }
}