.home {
  height: 400px;
  /* background-color: #030303da; */
  /* position: relative; */
}

.home-content {
  margin-left: 400px;
  font-weight: 700;
}
.home-content h1 {
  color: white;
  font-size: 40px;
  margin-top: 100px;
}
.home-content h2 {
  color: yellow;
  font-size: 35px;
}
.btn-for-action {
  display: flex;
}

.hire-me-btn {
  background-color: rgb(221, 143, 0);
  text-align: center;
  width: 180px;
  padding: 10px;
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid white;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hire-me-btn:hover {
  background-color: white;
  width: 250px;
  transition: all ease 1s;
  color: black;
}

.get-resume {
  background-color: rgb(69, 108, 214);
  text-align: center;
  width: 180px;
  padding: 10px;
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid white;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 10px;
}
.get-resume:hover {
    background-color: white;
    width: 250px;
    transition: all ease 1s;
    color: black;
  }

  @media (max-width: 1000px) {
    .home-content{
      margin-left: 10px;
    }
    .theme-change{
      display: none;
    }
  }
  
  .theme-change{
    position: fixed;
    margin-top: 250px;
    height: 50px;
    width: 50px;
    background-color: blue;
    right: 0;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .light-theem-icon{
    animation: rotation infinite 8s linear;

  }

  @keyframes rotation {

    form{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }

  }