.sidebar-profile-pic img {
  border-radius: 90px;
  margin-top: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  object-fit: cover;
  border: 3px solid yellow;
}

.nav-item{
  display: flex;
  color: white;
  list-style-type: none;
  cursor: pointer;
  margin-top: 30px;
}

.nav-items ul li svg{
    margin-right: 25px;
    margin-left: 10px;
}

.navbar-items-only-icons, .navbar-items-icons-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-items-only-icons ul li{
  margin-top: 10px;
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;

}

.navbar-items-only-icons ul li svg{
  margin-left: 10px;
}

.nav-item .active{
  border-left: 2px solid yellow;
  color: yellow;
}

.navbar-items-icons-and-text .nav-item .nav-bar-item-link{
  display: flex;
  align-items: center;
  width: 169px;
}