::-webkit-scrollbar {
  width: 8px;
  height: auto;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(103, 100, 109);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 127, 105);
}
::-webkit-scrollbar-thumb:hover{
  background-color: #ad0023;
  transition-duration: 0.8s;
}

